@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

#buttongroup
{
    text-align: right;
}

#curriculum
{
    opacity: 0.8;
    padding: 2px;
    border-spacing: 4px;
    border-radius: 5px;
    background-color: rgb(226, 223, 194);;
    margin: auto;
    border-collapse: separate;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 70%;
}
#curriculum caption
{
    text-align: center;
}
#curriculum th
{
    border-bottom: solid 1px;
    text-align: center;
}
#curriculum tr td:first-child
{
    background-color: rgb(175, 174, 130);
}
#curriculum tr td
{
    border-radius: 5px;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    width: 140px;
    padding: 3px;
}

#curriculum tr td.used-td
{
    background-color: rgb(121, 190, 125);
}