@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC&display=swap");

body
{
    margin: 0;
    font-family: 'Noto Sans TC', '微軟正黑體', sans-serif;

}

.info
{
    margin-left: 1%;
    margin-right: 1%;
}

.inputlist
{
    border: 1.5px solid rgb(175, 174, 130);
    border-radius: 5px;
    padding-bottom: 0.5%;
    color: rgb(175, 174, 130);
    height: auto;
    width: 60%;
    margin: auto;
    font-weight: 400;
    border-radius: 5px;
    background: none;
}

.inputtext
{
    transition-duration: 0.5s;
    height: auto;
    border: 0;
    vertical-align: middle;
    outline: none;
    border-bottom: 1px solid rgb(175, 174, 130);
    background: linear-gradient(to left, rgb(255, 255, 255) 50%, rgb(226, 223, 194) 50%) right;
    background-size: 200%;
    transition: .5s ease-out;
}

.inputtext:focus
{
    background-color: rgb(226, 223, 194);
    background-position: left;

}

.custom-select
{
    outline: none;
    border: none;
    color:rgb(175, 174, 130);
    border-right: 1px solid rgb(175, 174, 130);
}

#container
{
    min-height: 420px;
}

#aboutUs
{
    min-height: 440px;
    width: 70%;
    margin: auto;
}

#title
{
    font-size: 30px;
    border-bottom: 2px solid rgb(177, 175, 155);
    color: rgb(177, 175, 155);
    padding-left: 5%;
}

.member.avatar
{
    float: left;
    width: 200px;
    border-radius: 50%;
    margin: 1% 1%;
}

#message
{
    margin-top: 2%;
    margin-bottom: 2%;
    padding-left: 5%;
}

.member
{
    margin: 6% 3%;
}

.member.name
{
    font-size: 20px;
}

.navbar
{
    background-color: rgb(226, 223, 194);
    height: 45px;
    margin: 0;
}

.footerblock
{
    background-color: rgb(226, 223, 194);
    height: 40px;
    margin-top: 3%;
    text-align: center;
    padding: 0;
    padding-top: 10px;
    bottom: 0;    
}

.link
{
    transition-duration: 0.5s;
    width: 70px;
    height: 100%;
    border: 0;
    font-size: 15px;
    font-weight: normal;
    background: none;
    float: right;
    margin-right: 3%;
    text-align: center;
}

.link:hover
{
    background-color: rgb(236, 236, 229);
}

.header
{
    font-size: 30px;
    color: rgb(97, 97, 97);
    padding: auto;
    float: left;
    vertical-align: middle;
}

#submit
{
    transition-duration: 0.4s;
    border: 0;
    width: 30px;
    background-color: white; 
    color: rgb(196, 193, 171);
}

#submit:hover    
{
    background-color: rgb(196, 193, 171);
    color: white;
}

#print, #setup
{
    transition-duration: 0.4s;
    font-weight: bold;
    border-radius: 15px;
    border: 1.5px solid rgb(175, 174, 130);
    width: 100px;
    height: 35px;
    background-color: white; 
    color: rgb(175, 174, 130);
}

#print:hover, #setup:hover
{
    background-color: rgb(175, 174, 130);
    color: white;
}

#buttongroup
{
    text-align: center;
}

.courselist
{
    font-weight: bolder;
    border-radius: 5px;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-collapse: separate;
    margin: auto;
    margin-bottom: 1%;
    padding-left: 2%;
    border:1.5px solid rgb(175, 174, 130);
    color: rgb(175, 174, 130);
    text-align: left;
    background: none;
    width: 90%;
}

.ui-accordion
{
    width: 75%;
    
    vertical-align: middle;
}

.ui-accordion.ui-widget
{
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 2%;
}

.ui-accordion-header.ui-state-active
{
    background:rgb(158, 214, 160);
}

.btn-delete
{
    transition-duration: 0.5s;
    font-weight: bold;
    background: none;
    border: none;
    color: rgb(175, 174, 130);
    float: right;
    padding-right: 2%;
}

.btn-delete:hover
{   
    color: rgb(209, 106, 106);
}

#curriculum
{
    opacity: 0.9;
    padding: 5px;
    border-spacing: 2px;
    border-radius: 5px;
    background-color: rgb(226, 223, 194);
    border-collapse: separate;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}
#curriculum caption
{
    text-align: center;
}
#curriculum th
{
    border-bottom: solid 1px;
    text-align: center;
    font-weight: lighter;
}
#curriculum tr td.time-td
{
    background-color: rgb(175, 174, 130);
    width: 55px;
    font-size: 13px;
}
#curriculum tr td:first-child
{
    width: 5px;
}
#curriculum tr td
{
    border-radius: 3px;
    opacity: 0.9;
    text-align: center;
    vertical-align: middle;
    width: 150px;
    padding: 0;
    
}

#curriculum tr td.used-td
{
    background-color: rgb(158, 214, 160);
}

@media only screen and (max-width: 600px)
{
    .courselist, .inputlist
    {
        width: 95%;
    }
    #curriculum
    {
        width: 100%;
    }
}